<div class='columns is-multiline'>

    <div class='column is-4'>
        <app-reusablebutton [styled]='largeButton' [text]='lbText'></app-reusablebutton>
    </div>

    <div class='column is-4'>
        <app-reusablebutton [styled]='mediumButton' [text]='mbText'></app-reusablebutton>
    </div>

    <div class='column is-4'>
        <app-reusablebutton [styled]='smallButton' [text]='sbText'></app-reusablebutton>
    </div> 

    <div class='column is-4'>
        <app-reusablebutton [styled]='largeButton' [text]='lbText' [disabled]='disabledTrue'></app-reusablebutton>
    </div>

    <div class='column is-4'>
        <app-reusablebutton [styled]='mediumButton' [text]='mbText' [disabled]='disabledTrue'></app-reusablebutton>
    </div>

    <div class='column is-4'>
        <app-reusablebutton [styled]='smallButton' [text]='sbText' [disabled]='disabledTrue'></app-reusablebutton>
    </div>

    
</div>
